
/* WHOLE PAGE/GENERAL */

#homePage{
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Marcellus', serif;
    background-color: #232946;
    color: #b8c1ec;
    font-size: 18px;
    margin: 0;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fffffe;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h2,h3,h4,h5,h6 {
    font-family: 'Marcellus', serif;
    color: #fffffe;;
}

button {
    color: #b8c1ec;
    border: 2px solid #b8c1ec;
    background-color: #232946;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 1rem;
}

button:hover {
    background-color: #eebbc3;
    border-color: #eebbc3;
    color: #232946;
}

/* NAVBAR */

#navBar {
    display: flex;
    flex-direction: row;
}

.navIcon {
    color: #232946;
    background-color: #eebbc3;
    border-radius: 30px;
    padding: 8px;
}

.menu {
    position: fixed;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    transform: translateY(-50%);
    top: 50%;
}

.logo {
    margin-left:60px;
}

.logoPeriod {
    color:#eebbc3;
}

.navSelection {
    list-style: none;
}

/* MAIN HEADING PAGE */

.moreAboutMeButton {
    display:flex;
    flex-direction: row;
    border-radius: 15px;
    border: 2.5px solid #b8c1ec;
    color: #b8c1ec;
    background-color:#232946 ;
    text-align: center;
    box-shadow: inset 0 0 0 0 #b8c1ec;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    text-decoration: none;
}

.moreAboutMeButton a {
    color: #b8c1ec;
    text-decoration: none;
}
.moreAboutMeButton a:hover {
    color: #232946;
    text-decoration: none;
}

.moreAboutMeButton:hover {
    box-shadow: inset 400px 50px 0 0 #b8c1ec;
    border-color: #b8c1ec;
}


.mainHeadingText {
    padding: 20px 60px;
    float: left;
}

#header {
    display: flex;
    flex-direction: row;
    margin-bottom: 350px;
}

.mainImage {
    width: 850px;
    position: absolute;
    top:160px;
    right:-10px;
}

/* SKILLS & ABOUT ME */

#skillSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin:60px;

}

#aboutMe{
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
}

#aboutMe p {
    padding: 0 10px;
}

.profilePic {
    width: 250px;
    background-color: #b8c1ec;
    border-radius: 45%;
    margin: auto;
}
#skills {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
}

.skillBlock {
    width: 180px;
    height:180px;
    background-color: #b8c1ec;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: 1.6rem;
}

.skillBlock h3 {
    color:#232946;
}

.skillBlock:hover {
    background-color: #eebbc3;
}

.skillsHeader {
    margin: auto;
    padding:20px;
}
/* PROJECTS */

.projectHeader {
    margin:auto;
}

#projectSection {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    margin: 50px;
}

#projectSection p {
    color: #232946;
    padding:10px;
    height:100px;
}

#project1 {
    flex:1;
}

#project2 {
    flex:1;
}

#project3 {
    flex:1;
}

.portfolioProjects {
    background-color: #b8c1ec;
    border-radius: 20px;
    border-style: none;
    width: 30%;
}

.projectAnimation {
    animation: open-enter 1.5s 1
}

.projectPictures {
    width: 90%;
    height:180px;
    margin:15px;
    border-radius: 15px;
}

@keyframes open-enter {
    0% {
        transform: scale(0,.025);
    }
    50% {
        transform: scale(1, .025);
    }
}

.projectButton {
    color:#232946;
    background-color: #b8c1ec;
    border-color: #232946;
    margin:10px;
}

.projectButton:hover {
    border-color:#eebbc3;
}

button a {
    text-decoration: none;
    color:#232946;
}

/* CONTACT ME */

.contactHeader {
    margin: auto;
    padding: 20px;
}

form {
    margin: 50px 200px 100px 200px;
}

p a {
    color:#eebbc3
}

#contactSection {
    display: flex;
    flex-direction: row;
    margin: 0 30px 30px 30px;
    gap: .5rem;
    display: none;

}

#quickContact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 250px 100px 250px;
}

#contactInfo {
    display: flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
}

.github, .linkedin {
    color: white;
}


#formField {
    flex: 1;
    padding: 50px;
}

input {
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    height:30px;
}

.line {
    width: 60%;
    height: 3px;
    background: #fffffe;
}

textarea {
    margin:10px;
    border-radius: 8px;;
    width:100%;
}

/********************************* MOBILE RESPOSIVE **************************************/


@media (max-width:700px) {

    /* WHOLE PAGE/GENERAL */


body {
    font-size: 12px;
}


h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}


button {
    color: #b8c1ec;
    border: 2px solid #b8c1ec;
    background-color: #232946;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 1rem;
}

button:hover {
    background-color: #eebbc3;
    border-color: #eebbc3;
    color: #232946;
}

/* NAVBAR */

#navBar {
    display: flex;
    flex-direction: row;
}


.menu {
    display: none;
}

.logo {
    margin-left:40px;
}


/* MAIN HEADING PAGE */



.mainHeadingText {
    padding: 20px 40px;
    float: left;
}

#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.mainImage {
    width: 300px;
    position: static;
}

/* SKILLS & ABOUT ME */

#skillSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin:auto;
    margin-top: 20px;

}

#aboutMe{
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
}

#aboutMe p {
    padding: 0 80px;
    font-size: 1rem;
}

.profilePic {
    width: 150px;
    margin: auto;
}

#skills {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:.5rem;
    justify-content: center;
    margin-left:20%;
    margin-right: 20%;
    margin-bottom: 20px;
}

.skillBlock {
    width: 100px;
    height:100px;
    background-color: #b8c1ec;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: .6rem;
}


.skillsHeader {
    margin: auto;
    padding:20px;
}

/* PROJECTS */

.projectHeader {
    margin:auto;
}

#projectSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#project1 {
    flex:1;
}

#project2 {
    flex:1;
}

#project3 {
    flex:1;
}

.portfolioProjects {
    background-color: #b8c1ec;
    border-radius: 20px;
    border-style: none;
    width: 60%;
}

#projectSection p {
    height:70px;
    font-size: 1rem;
}

.projectPictures {
    width:90%;
    margin:10px;
    border-radius: 15px;
}


/* CONTACT ME */

.contactHeader {
    margin: auto;
    padding: 20px;
}

form {
    margin: 20px;
}

#contactSection {
    display: none;
    flex-direction: column;
    margin: 20px;
    gap: 1.5rem;

}

#quickContact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 100px 100px 100px;
    font-size: 1.5rem;
}

#contactInfo {
    display: flex;
    flex-direction: row;
    gap:1rem;
}

.github, .linkedin {
    color: white;
}


#formField {
    flex: 1;
    padding: 10px;
    text-align: left;
}

input {
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    height:30px;
}

.line {
    width: 60%;
    height: 3px;
    background: #fffffe;
}

textarea {
    margin:10px;
    border-radius: 8px;;
    width:100%;
}

 
}







